@use "../../scss/variables.scss" as *;


.grid{
    background-color: $grid-background;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap ;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    margin: 2rem;
}

@media screen and (width <= 768px) {
    .grid{
        justify-content: center;
        background-color: $grid-backgroud-secondary;
        padding: 0;
    }
}