@use "../../scss/variables.scss" as *;

.appartment__description{
    margin-bottom: 1rem;
    flex-basis: 50%;
    p{
        margin-block: 0;
    }
    .description__header{
        background-color: $color-primary;
        color: $color-tertiary;
        padding: 0.2em 1em;
        border-radius: 0.7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .description__content{
        background-color: $backgroud-light;
        color: $color-primary;
        padding: 1rem;
        border-radius: 0.7rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
        
    }
    .fa-chevron-up {
        transition: transform 0.3s;
      }
      
      .fa-chevron-down {
        transition: transform 0.3s;
        transform: rotate(360deg);
      }
}