.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    color: #ff6060
}

.navbar__logo{
    padding: 1rem;
    
}
.navbar__logo img{
    height: 50px;
    
}