$color-primary: #ff6060;
$color-secondary: #863535;
$color-tertiary: white;

$grid-background: gainsboro;
$grid-backgroud-secondary: white;
$backgroud-light: #f6f6f6;

$footer-background: black;
$text-color: black;
